{{- $name := promptStringOnce . "name" "Name" -}}
{{- $githubUsername := promptStringOnce . "github_username" "Github Username" -}}

[diff]
    pager = "diff-so-fancy"
[merge]
    command = "nvim"
    args = ["-d", {{ `"{{ .Destination }}", "{{ .Source  }}", "{{ .Target }}"` }}]
[data]
    name = {{ $name | quote }}
    github_username = {{ $githubUsername | quote  }}
