{{- $name := promptStringOnce . "name" "Name" -}}
{{- $githubUsername := promptStringOnce . "github_username" "Github Username" -}}
{{- $githubEmail := promptStringOnce . "github_email" "Github email address"}}
{{- $gpgSigningKey := promptStringOnce . "gpg_signing_key" "GPG Signing Key" -}}
[diff]
    pager = "diff-so-fancy"
[merge]
    command = "nvim"
    args = ["-d", {{ `"{{ .Destination }}", "{{ .Source  }}", "{{ .Target }}"` }}]
[data]
    name = {{ $name | quote }}
    github_username = {{ $githubUsername | quote  }}
    github_email = {{ $githubEmail | quote}}
    gpg_signing_key = {{ $gpgSigningKey | quote }}
