[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = {{ .name | quote }}
	useConfigOnly = true
{{- if eq .chezmoi.hostname "G6PYKYXP07" }}
  signingkey = {{ .gpg_signing_key | quote }}
{{- end }}
[pull]
	ff = only
[branch]
  autoSetupRebase = always
[init]
	defaultBranch = main
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
  untrackedCache = true
  fsmonitor = true
[apply]
	whitespaces = nowarn
[color]
	ui = auto
[push]
  autoSetupRemote = true
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
{{- if eq .chezmoi.os "darwin" }}
[alias]
	lb = latest-build
[commit]
  gpgSign = true
[tag]
  gpgSign = true
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[credential "https://github.com"]
	helper = !$(brew --prefix gh)/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !$(brew --prefix gh)/bin/gh auth git-credential
{{- end }}
