[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = {{ .name | quote }}
	useconfigonly = true
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[apply]
	whitespaces = nowarn
[color]
	ui = auto
